<a href="https://colab.research.google.com/github/leoserpa/scripts/blob/main/Pandas_mesclando_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Análise de Dados

In [ ]:
# importando os pacotes necessários
import pandas as pd

In [ ]:
# carregando o dataset de pedidos
orders = pd.read_csv('olist_orders_dataset.csv')

# ver as primeiras entradas 
orders.head()

                           order_id  ... order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f2d6af7  ...           2017-10-18 00:00:00
1  53cdb2fc8bc7dce0b6741e2150273451  ...           2018-08-13 00:00:00
2  47770eb9100c2d0c44946d9cf07ec65d  ...           2018-09-04 00:00:00
3  949d5b44dbf5de918fe9c16f97b45f8a  ...           2017-12-15 00:00:00
4  ad21c59c0840e6cb83a9ceb5573f8159  ...           2018-02-26 00:00:00

[5 rows x 8 columns]

In [ ]:
# carregando o dataset de itens pedidos
orders_items = pd.read_csv('olist_order_items_dataset.csv')

# ver as primeiras entradas
orders_items.head()

                           order_id  order_item_id  ...   price freight_value
0  00010242fe8c5a6d1ba2dd792cb16214              1  ...   58.90         13.29
1  00018f77f2f0320c557190d7a144bdd3              1  ...  239.90         19.93
2  000229ec398224ef6ca0657da4fc703e              1  ...  199.00         17.87
3  00024acbcdf0a6daa1e931b038114c75              1  ...   12.99         12.79
4  00042b26cf59d7ce69dfabb4e55b4fd9              1  ...  199.90         18.14

[5 rows x 6 columns]

Consultando os dados nos dois datasets e ligando através da chave order_id
- Selecionando os atributos do dataset orders (pedidos).
> - order_id (id do pedido).
> - order_status (status do pedido).
> - order_approved_at (data e hora da aprovação do pedido).

- Selecionando os atributos do dataset **orders_items (itens do pedidos).
> - product_id (id do produto).
> - seller_id (id do vendedor).
> - price (preço do produto).
> - freight_value (valor do frete).

In [ ]:
query = pd.merge(orders[['order_id', 'order_status', 'order_approved_at']],
                 orders_items[[ 'order_id', 'product_id', 'seller_id', 'price', 'freight_value']],
                 on= 'order_id')
                              
  
# ver as primeiras entradas
query.head()

                           order_id order_status  ...   price freight_value
0  e481f51cbdc54678b7cc49136f2d6af7    delivered  ...   29.99          8.72
1  53cdb2fc8bc7dce0b6741e2150273451    delivered  ...  118.70         22.76
2  47770eb9100c2d0c44946d9cf07ec65d    delivered  ...  159.90         19.22
3  949d5b44dbf5de918fe9c16f97b45f8a    delivered  ...   45.00         27.20
4  ad21c59c0840e6cb83a9ceb5573f8159    delivered  ...   19.90          8.72

[5 rows x 7 columns]

### Consulta todos os pedidos independente se contém itens associados - Left Join

In [ ]:
query = pd.merge(orders[['order_id', 'order_status', 'order_approved_at']],
                 orders_items[[ 'order_id', 'product_id', 'seller_id', 'price', 'freight_value']],
                 on= 'order_id',
                 how='left')

query.isnull().sum()

order_id               0
order_status           0
order_approved_at    161
product_id           775
seller_id            775
price                775
freight_value        775
dtype: int64

Consulta todos os pedidos independente se contém itens associados - Right Join

In [ ]:
query = pd.merge(orders[['order_id', 'order_status', 'order_approved_at']],
                 orders_items[[ 'order_id', 'product_id', 'seller_id', 'price', 'freight_value']],
                 on= 'order_id',
                 how='right')

query.isnull().sum()

order_id              0
order_status          0
order_approved_at    15
product_id            0
seller_id             0
price                 0
freight_value         0
dtype: int64

Consulta todos os pedidos independente se contém itens associados - Outer Join

In [ ]:
query = pd.merge(orders[['order_id', 'order_status', 'order_approved_at']],
                 orders_items[[ 'order_id', 'product_id', 'seller_id', 'price', 'freight_value']],
                 on= 'order_id',
                 how='outer')

query.isnull().sum()

order_id               0
order_status           0
order_approved_at    161
product_id           775
seller_id            775
price                775
freight_value        775
dtype: int64